@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Muli:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    background: var(--bg);

    --bg: #ebb0e7;
    --nav-bg: #fff;
    --primary: #323c50;
    --highlight: #329FD9;
    --secondary: #88cef3;
    --title-color: #f7d7f4;
}

html[data-theme='dark'] {
    --bg: #2c3549;;
    --nav-bg: #1b202b;
    --primary: #e4e2e2;
    --highlight: #329FD9;
    --secondary: #2c3549;
    --title-color: #616c82;
}

a {
    text-decoration: none;
}

.display {
    font-size: 1.3rem;
    text-align: center;
    margin: 0.7rem 0;
    color: var(--primary);
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: 30px;
    text-transform: uppercase;
}

.btn-light {
    color: var(--primary);
    background: var(--title-color);
}

.btn-light:hover {
    background: var(--primary);
    color: var(--nav-bg);
    transition: all 0.7s ease;
    -webkit-ransition: all 0.7s ease;
}

#main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--nav-bg);
    padding: 1rem;

    .logo {
        color: var(--primary);
        margin-top: 0.25rem;
        padding-left: 2rem;
        text-transform: uppercase;
    }

    .navbar {
        display: flex;
        padding-right: 2rem;
    }

    .nav-items, .toggle-container {
        display: flex;
        list-style: none;
        align-items: center;
    }

    li {
        padding: 1rem;
    }

    .toggle-container {
        padding-left: 1rem;
    }

    a {
        text-transform: uppercase;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        color: var(--primary);
        font-weight: 700;
        border-bottom: 3px solid transparent;
    }

    a:hover {
        color: var(--highlight);
        border-bottom: 3px solid var(--highlight);
        transition: all 0.3s ease;
        -webkit-ransition: all 0.3s ease;
    }

    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 52px;
        height: 27px;
        background: var(--primary);
        float: right;
        border-radius: 100px;
        position: relative;
    }
    
    label::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 20px;
        height: 20px;
        background: var(--highlight);
        border-radius: 90px;
        transition: 0.3s;
    }
    
    input:checked + label {
        background:var(--secondary);
    }
    
    input:checked + label::after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }
    
    label:active::after {
        width: 45px;
    }
    
    html.transition,
    html.transition *,
    html.transition *::before,
    html.transition *::after {
        transition: all 750ms !important;
        transition-delay: 0 !important;
    } 
}

#hello {
    display: flex;
    
    height: 100vh;
    text-align: center;
    
        .title {
        display: flex;
        color: var(--title-color);
        font-size: 2.5rem;
        font-family: 'Montserrat';
        text-transform: uppercase;
    }    
}

@media(max-width: 560px) {
    html {
        overflow: scroll;
    }

    #main {
        justify-content: center;
        width: auto;

        .logo {
            padding-left: 0;
        }
        .navbar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
        }
    
        .nav-items, .toggle-container {
            justify-content: center;
        }
    
        li {
            padding: 1rem;
        }

        .toggle-container {
            padding-left: 0;
        }
    
        
    }
}


@media(max-width: 415px) {
    html {
        overflow: scroll;
    }
    
    #hello {

        .title {
            font-size: 2rem;
            
        }    
    }

    .display {
        font-size: 1.1rem;
    }
}

@media(max-width: 320px) {    
    #hello {

        .title {
            font-size: 1.7rem;
            margin-top: -150px;
        }    
    }

    .display {
        font-size: 1.1rem;
    }
}
